.notFoundCountry {
  width: 100%;
  background-color: var(--dark-vblue);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.nfIcon {
  font-size: 5rem;
  color: var(--text-color);
}
.notFoundCountry h1 {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: bold;
}
